<h1>{{this.movie.title}}</h1>
<img src='https://image.tmdb.org/t/p/w500{{this.movie.poster_path}}' width="200" />
<p>{{this.movie.release_date | date}}</p>
<img src='https://image.tmdb.org/t/p/w50{{this.movie.backdrop_path}}' width="200" />
<p>{{this.movie.overview}}</p>

{{this.movie.belongs_to_collection}}
{{this.movie.budget}}
{{this.movie.genres}}
{{this.movie.homepage}}
{{this.movie.id}}
{{this.movie.imdb_id}}
{{this.movie.original_language}}
{{this.movie.original_title}}
{{this.movie.popularity}}
{{this.movie.production_companies}}
{{this.movie.production_countries}}
{{this.movie.revenue}}
{{this.movie.runtime}}
{{this.movie.spoken_languages}}
{{this.movie.status}}
{{this.movie.tagline}}
{{this.movie.video}}
{{this.movie.vote_average}}
{{this.movie.vote_count}}
{{this.movie.adult}}
