
    <form class="mt-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for a movie, tv show, person..." aria-label="Search for a movie, tv show, person..." aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </div>
      </form>

<div class="row flex-row d-inline-flex">
  <div *ngFor="let movie of movies?.results" class="col-lg-3 pt-3 text-center">
    <a routerLink={{movie.id}} >
        <img class="mx-auto d-block" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" width="150" alt="Card image cap">
        <h5 class="card-title">{{movie.title}}</h5>

        <!-- <p class="badge badge-pill badge-info text-center w-25">{{movie.vote_average}}</p> -->
        <p class="">{{movie.release_date | date}}</p>
      </a>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
