
<h1 class="text-center">Movies</h1>

<form #myform="ngForm" (ngSubmit)="search(myform)" class="container mt-3">
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text" (click)="clear(myform)">
            <i class="material-icons">
                clear_all
                </i>
        </div>
      </div>
    <input ngModel type="text" name="search" class="form-control" placeholder="Search for a movie, tv show, person..." aria-label="Search for a movie, tv show, person..." aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" (click)="search(myform)">
      <i class="material-icons">
          search
          </i>
        </span>
    </div>
  </div>
</form>


<div class="container mt-3">
    <div class="form-group col-lg-3">
      <label for="sortby">
          Sort By
      </label>
      <select (change)="SortBy($event)" name="sortby" class="form-control">
        <option value="Popular">Popular</option>
        <option value="Now Playing">Now Playing</option>
        <option value="Top Rated">Top Rated</option>
        </select>
    </div>
  </div>


<div class="row flex-row d-inline-flex">
  <div *ngFor="let movie of movies?.results" class="col-lg-2 text-center movie-card">
    <a routerLink={{movie.id}} >
        <img class="mx-auto d-block" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" width="150" alt="Card image cap">
        <h5 class="card-title" *ngIf="movie.title !== null ">{{movie.title}}</h5>
        <h5 class="card-title" *ngIf="movie.media_type !== null ">{{movie.name}}</h5>
        <p class="" *ngIf="movie.release_date !== null ">{{movie.release_date | date}}</p>
      </a>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg justify-content-center">
      <li [ngClass]="{'page-item disabled': movies?.page == 1 }">
        <a class="page-link" (click)='Previous(movies?.page)' aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <li class="page-item" ><a class="page-link" >{{movies?.page}}</a></li>

      <li [ngClass]="{'page-item disabled': movies?.page == movies?.total_pages }">
        <a class="page-link" (click)='Next(movies?.page)' aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
    <div class="text-center">Total Results: {{movies?.total_results | number}}</div>
    <div class="text-center">Total Pages: {{movies?.total_pages | number}}</div>
  </nav>
